.front-name {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-weight: 700;
  color: #E94B3Cff;
  font-size: 70pt;
}

.project-name {
  font-family: 'Libre Baskerville', serif;
  color: #E94B3Cff;
  font-size: 65pt;
}

html {
  background-color: #525252;
}

.front-intro {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 30pt;
  line-height: 150%;
}

.description {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 22pt;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  color:#525252;
  font-size: 40pt;
}

img.front-page {
  width: 120%;
  padding: 0px;
  height: auto;
}

img.project-display {
  width: 75%;
  padding: 0px;
  height: auto;
  margin-top: 20px;
}

img.profile {
  margin-top: 10px;
  width: 60%;
  height: auto;
}

img.resume {
  background-color: #525252;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 65%;
}

.button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  background-color:#E94B3Cff;
  border: none;
  color: #e4bebe;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 325px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.button:link{
  color: white;
}

.button:hover{
  text-decoration: none;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #525252;
  margin-bottom: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Lato', sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-bottom: 10px;
  margin-left: 5px;
  text-decoration: none;
  font-size: 17px;
  transition: linear 0.25s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.row {
  background-color: #525252;
  margin-right: 0px;
  margin-left: 0px;
}

.resume-text{
  text-decoration: none;
  border: 10px #E94B3Cff;
}


.img-description{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  color: #E94B3Cff;
  font-family: 'Montserrat', sans-serif;
  font-size: 22pt;
}


.img-fluid{
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
  overflow: hidden;
  display: block;
  
}

.img-responsive {
  width: auto;
  height: 405px;
  margin: auto;    
  display: block;
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}


.img-fluid:hover{
  opacity: .9;
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
   -o-filter: brightness(75%);
  -ms-filter: brightness(75%);
   -webkit-transition: all 0.50s;
   transition: all 0.50s;
}

.img-responsive:hover{
  opacity: .9;
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
   -o-filter: brightness(130%);
  -ms-filter: brightness(130%);
   -webkit-transition: all 0.50s;
   transition: all 0.50s;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.50s;
  background-color: #525252;
}

.website-fluid:hover{
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -o-filter: brightness(130%);
  -ms-filter: brightness(130%);
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
}

.website-fluid:hover .overlay {
  opacity: .9;
}

.text {
  color: #E94B3Cff;
  font-weight: bolder;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
}